@import "tailwindcss";

 :root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #171717;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.image-slider-container {
  margin: 0 auto;
  width: 400px;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: white;
}
